:root{
 --bg-color: rgb(136, 130, 130);
 --text-color:#ffffff;
 --title-color:bisque;

}
body{
  background-color: var(--bg-color);
  background-image: url("apple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color);
  text-align: center;
}
nav {
display: flex;
justify-content: center;
justify-content: space-around;
}
.col-sm-12{
  margin-top: 100px;
}

mark{
  background-color: var(--title-color);
  color: var(--text-color);
  paddinG-bottom: 15px; ;
  border-radius: 30%;
}
.main{
  margin-top: 30px;
}
.container {
  margin-top: 50px;
  display: grid;
  background-color: var(--bg-color);
  justify-content: center;
  grid-gap:80px;
  margin-bottom: 30px;
  grid-template-areas: 
  "one two"
  "three four";
}
.one{
grid-area: one;
}
.two{
  grid-area: two;
}
.three{
  grid-area: three;
}

.four{
  grid-area: four;
}

img{
  width: 40%;
  height: 250px;
  float: left;
}

img:hover{
  transform: scale(1.1);
}
a{
  text-decoration: none;
  color: var(--title-color);
}
a:hover{
  text-decoration: none;
  color: var(--title-color);
  text-shadow:3px -3px 4px var(--title-color);
}

footer{
  margin-top: 100px;
  position: relative;
  left: 0%;
  display: grid;
 grid-template-rows: 100%;
  grid-gap:60px;
  grid-template-areas:
  "first second third fourth";
}
.first{
  grid-area: first;

}

.second{
  grid-area: second;
}

.third{
  grid-area: third;
}

.fourth{
  grid-area: fourth;
}
 b{
  color: var(--title-color);
}